
<div class="pages">

    <div class="band_index">
    <div class="links">
        <a href="<%= bands_url %>">Bands</a>
        / 
        <a href="<%= band_url(@band.id) %>"><%=@band.name%></a>
        <br>
        </div>
       <h4> Add Album to <%= @band.name %> </h4>

        <div class="band_forms">

            <%=  render "form" , action: band_albums_url , method: :post , bands: @bands ,  album: @album %> 


        </div>

    </div>

</div>